__pycache__/
*.pyc

venv/

output/
latest.db

*.db
*.sqlite

logs/

.vscode/
.idea/

# Reports

report.html

# Dashboard screenshots

screenshots/

# SecLists cache

wordlists/SecLists/**/**pycache**/

# Python
venv/
__pycache__/
*.pyc

# Database
latest.db

# Scan outputs
output/
screenshots/
logs/

# Optional
*.log
.env
.env.*